.card-color-1 {
    background-color: #85929e;
    color: black;
}
.card-color-2 {
    background-color: #b2babb;
    color: black;
}
.card-color-3 {
    background-color: #bfc9ca;
    color: black;
}
.card-color-4 {
    background-color: #d7dbdd;
    color: black;
}
.card-color-5 {
    background-color: #edbb99;
    color: black;
}
.card-color-6 {
    background-color: #fad7a0;
    color: black;
}
.card-color-7 {
    background-color: #a9dfbf;
    color: black;
}
